<!DOCTYPE html>
<html>

    <body>

        <head>
            <meta charset="utf-8">
            <meta name="robots" content="noindex"> <!-- Блокирует сайт для поисковиков-->
            <title>Educata. Каталог образовательных программ</title>
            <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beauty.css') }}">
        </head>
        
        <div class="header">
            <div class="header-container">
                <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Educata. Каталог образовательных проектов России">
            </div>
        </div>    

        <div class="main_content">
            <div class="main_content_container">

                <div class="edu_programs_list">  
                    {% for program in edu_programs_list %} 
                        <a class="edu_program_name" href={{program.link}} target="_blank"> {{program.name}} </a><br>
                        <p>{{program.description}}</p>
                        <hr>
                    {% endfor %}
                </div>

                <div class="filters">
                        <select name="city" class="city">
                            <option>Москва</option>
                        </select>

                        <select name="quantity_on_page" class="quantity_on_page">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                        </select>

                        <ul class="paginator">
                            {% for page in range(1, quantity_on_page) %}
                                 <li> <a href="">{{page}}</a></li>
                            {% endfor %}

                        </ul>

                    </div>

            </div>
        </div>

    </body>

</html>

