<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Educat - Каталог образовательных программ</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beauty.css') }}" />
    </head>

    <body>
        
        <h1>Образовательные программы</h1>
        <br>

        <div class="edu_programs_list">
            
            <table class="table">
            {% for program in edu_programs_list %}
                <tr>
                    <td>
                        <a class="link" href={{program.link}}> {{program.name}} </a>
                        <p>{{program.description}}</p>
                    </td>
                    <td>
                        <p>{{program.city}}</p>
                    </td>
                </tr>
                
            {% endfor %}
            </table>
        </div>

    </body>
</html>

